<html>
  <body>
    <p>Dear {{userEmail}},</p>
    <p>Thank you for your hire request! We have received the following details:</p>
    <ul>
      <li>Title: {{title}}</li>
      <li>Budget: {{budget}}</li>
      <li>Project Details: {{projectDetail}}</li>
      <li>Time Period: {{timePeriod}}</li>
    </ul>
    <p>We will get back to you shortly.</p>
  </body>
</html>